<style>
  .small-btn {
  padding: 2px 8px;
  font-size: 12px;
  }
  .custom-btn-danger {
  background-color: #b30000; /* 濃い赤 */
  border-color: #b30000;
  color: white;
  }
</style>

<h2>Follows</h2>
  <table class='table'>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <%= link_to customer_path(customer) do %>
              <%= image_tag customer.get_profile_image(50,50) %>
            <% end %>
          </td>
          <td><%= customer.name %>
          <td>
         <% if current_customer.following?(customer) %>
          <%= link_to "解除", customer_relationships_path(customer.id), method: :delete, class: "btn custom-btn-danger small-btn" %>
         <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table> 